/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-padding-top: 2rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #e70e02;
  --second-color: #1e3932;
  --thrid-color: #fff;
  --fourth-color: black;
}
section {
  padding: 50px 10%;
}
*::selection {
  color: #fff;
  background: var(--main-color);
}
img {
  width: 100%;
}
header {
  top: 0;
  width: 100%;
  right: 0;
  display: flex;
  align-items: center;
  background: #e70e02;
  padding: 15px 10%;
  transition: 0.2;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  width: 100px;
}
a {
  color: black;
}
.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #e70e02;
  gap: 1rem;
}
.home-text {
  flex: 1 1 17rem;
}
.home-img {
  flex: 1 1 5rem;
}
.home-img img {
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-11px, 0);
  }
  50% {
    transform: translate(-0px, -11px);
  }
  100% {
    transform: translate(-11px, 0);
  }
}
.home-text span {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--thrid-color);
}
.home-text h1 {
  font-size: 2.5rem;
  color: var(--thrid-color);
  font-weight: bolder;
}
.home-text h2 {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  color: var(--thrid-color);
  margin: 0.5rem 0 1.4rem;
}
.btn {
  padding: 7px 16px;
  border: 2px solid var(--fourth-color);
  border-radius: 40px;
  font-weight: 500;
  background: black;
  color: #fff;
}
.btn:hover {
  color: #fff;
  background: var(--main-color);
}
.heading {
  text-align: center;
  text-transform: uppercase;
}
.heading span {
  font-size: 3rem;
  font-weight: 600;
  color: var(--second-color);
}
.heading h1 {
  font-size: 2rem;
  color: red;
}
.promo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}
.promo-container .box {
  flex: 1 1 10rem;
  background: var(--main-color);
  padding: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  border-radius: 0.5rem;
}
.promo-container .box h2 {
  color: #fff;
  font-size: 1.5rem;
}
.promo-container .box p {
  color: #fff;
  margin-top: 1rem;
}
.promo-container .box span {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 1rem;
}
.box .btn {
  border: 2px solid #fff;
  color: #fff;
  background: black;
}
.box .btn:hover {
  background: #fff;
  color: black;
}
.cta {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  gap: 1.5rem;
  align-items: center;
}
.cta-text {
  flex: 1 1 17rem;
  text-align: center;
}
.btn-cta {
  font-size: 30px;
  padding: 10px 17px;
  color: #fff;
  background: black;
  border: 2px solid var(--fourth-color);
  border-radius: 40px;
  font-weight: 500;
}
.btn-cta:hover {
  color: #fff;
  background-color: var(--main-color);
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
}
.about-img {
  flex: 1 1 21rem;
}
.about-text {
  flex: 1 1 21rem;
}
.about-text h2 {
  font-size: 1.2rem;
  margin: 8rem 0 2rem;
  color: var(--second-color);
}
.about-text p {
  margin: 0.5rem 0 3rem;
  text-align: justify;
}
.keunggulan-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(400px, auto));
  gap: 1rem;
  align-items: center;
  margin: 4rem;
}
.k-mainbox {
  display: flex;
  align-items: center;
  justify-self: center;
  gap: 1.4rem;
  border-radius: 10px;
  background: #fff;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all 0.38s ease;
}
.keunggulan-container .box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1rem;
  align-items: center;
  margin-top: 4rem;
}
.keunggulan-container .box h2 {
  color: black;
  font-size: 1.2rem;
}
.keunggulan-container .box p {
  color: black;
  margin-top: 1rem;
}
.keunggulan-icon {
  padding-left: 10px;
  margin: 0rem 0 0.1rem;
  font-size: 5rem;
}
.keunggulan-container .box .icon .bx {
  color: black;
}
.iklan {
  display: flex;
  flex-wrap: wrap;
  background: #e70e02;
  gap: 1.5rem;
  align-items: center;
}
.iklan-text {
  flex: 1 1 17rem;
  text-align: center;
}
.iklan-text h2 {
  font-size: 3rem;
  color: var(--thrid-color);
  align-content: center;
  font-weight: 700;
}
.iklan-text h2:hover {
  color: yellow;
}
.iklan-text p {
  margin: 0.5rem 0 1rem;
  font-weight: 500;
}
.btn-iklan {
  padding: 7px 16px;
  color: #fff;
  background: black;
  border: 2px solid var(--fourth-color);
  border-radius: 40px;
  font-weight: 500;
}
.btn-iklan:hover {
  color: #fff;
  background: var(--main-color);
}

/* responsive */
@media (max-width: 1150px) {
  header {
    padding: 18px 7%;
  }
  section {
    padding: 50px 7%;
  }
  .home-text h1 {
    font-size: 3rem;
  }
  .home-text h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 991px) {
  header {
    padding: 18px 4%;
  }
  section {
    padding: 50px 4%;
  }
}
@media (max-width: 768px) {
  header {
    padding: 11px 4%;
  }
}
